
.background {
    display: flex;
    margin: 0, auto;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.calculator {
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 60vh;
    box-shadow: 10px 10px 10px rgb(124, 124, 124);
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.calculator #calculator-text-box {
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid gray;
    color: rgb(0, 0, 0);
    width: 49.4vw;
    height: 14vh;
    font-size: 10vh;
    text-align: right;
    
}
.calculator button {
    background-color: rgb(17